.white_section {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
    font-size: 14px;
    @media (width > 768px) {
      padding: 40px;
      margin-bottom: 10px;
    }
    @media (width > 1280px) {
      font-size: 16px;
      padding: 70px;
      margin-bottom: 0;
      margin-inline: 200px;
    }
  }
  
    .second_title {
      color: black;
      font-family: "Roboto Slab", serif;
      font-weight: 700;
      font-size: 24px;
      padding-bottom: 15px;
      @media (width > 768px){
        font-size: 26px;
      }
      @media (width > 1280px) {
        font-size: 32px;
      }
    }
  
    .second_text {
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-style: normal;
      font-size: 18px;
      padding-bottom: 15px;
      @media (width > 768px){
        font-size: 20px;
      }
    }
  
    .button_go {
      text-decoration: none;
      :hover {
        transition: transform 0.4s ease, box-shadow 0.3s ease;
        transform: translate(3px, 3px) scale(1);
        box-shadow: 5px 5px 10px rgba(58, 58, 58, 0.3);
      }
    }
  
    .Go {
      display: flex;
      text-align: center;
      text-decoration: none;
      color: #f26002;
      background-color: white;
      font-size: 20px;
      border-radius: 20px;
      border-color: #f26002;
      border: solid 2px;
      margin-right: 465px;
      padding-block: 5px;
      padding-inline: 15px;
      cursor: pointer;
      @media (width > 768px) {
        padding-inline: 25px;
        border-radius: 30px;
      }
      @media (width > 1280px) {
        padding-inline: 60px;
      }
    }