.blue_section {
    background-color: #eff9ff;
    display: grid;
    grid-template-areas: 
    "title"
    "block1"
    "block2"
    "block3"
    "button";
    grid-template-rows: auto;
    grid-template-columns: 300px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-inline: 15px;
    padding-block: 50px;
    @media (width > 768px) {
      grid-template-areas: 
      "title title title"
      "block1 block2 block3"
      "button button button";
      gap: 40px;
      grid-template-columns: 210px 210px 210px;
      justify-content: center;
      align-items: center;
    }
    @media (width > 1280px) {
      grid-template-columns: 350px 380px 350px;
      justify-content: center;
      align-items: center;
    }
  }
  
    .box_title {
      font-family: "Roboto Slab", serif;
      font-optical-sizing: auto;
      font-weight: 700;
      font-style: normal;
      font-size: 27px;
      text-align: center;
      grid-area: title;
      @media (width > 768px) {
        font-size: 26px;
      }
    }
  
    .box1 {
      text-align: center;
      grid-area: block1;
    }
  
    .box2 {
      text-align: center;
      grid-area: block2;
    }
  
    .box3 {
      text-align: center;
      grid-area: block3;
    }
  
    .title_text_box {
      font-family: "Roboto Slab", serif;
      font-optical-sizing: auto;
      font-weight: 500;
      font-style: normal;
      font-size: 18px;
      @media (width > 768px) {
        font-size: 20px;
      }
      @media (width > 1280) {
        font-size: 24px;
      }
    }
  
    .body_text_box {
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-style: normal;
      font-size: 18px;
      margin-inline: 40px;
      padding: 10px;
      text-align: center;
      @media (width > 768px) {
        margin-inline: 0;
        font-size: 20px;
      }
    }
  
    .button_more_reasons {
      display: grid;
      text-decoration: none;
      justify-content: center;
      align-items: center;
      grid-area: button;
      :hover {
        transition: transform 0.4s ease, box-shadow 0.3s ease;
        transform: translate(3px, 3px) scale(1);
        box-shadow: 5px 5px 10px rgba(58, 58, 58, 0.3);
      }
    }
  
    .more_reasons {
      text-align: center;
      color: white;
      background-color: #f26002;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 20px;
      border-radius: 30px;
      border: solid 2px;
      padding-block: 10px;
      padding-inline: 25px;
      margin-bottom: 25px;
      cursor: pointer;
      @media (width > 768px) {
        padding-inline: 40px;
      }
      @media (width > 1280px) {
        padding-inline: 60px;
      }
    }